:root {
  --color-primary: #8b780b;
  --color-primary-light: #b4a55b;
  --color-primary-dark: #645609;

  --default-font-size: 1.6rem;

  --color-white: #dcd5c0;
  --color-black: #000;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);

  --grid-width: 114rem;
}
