.btn {
  &,
  &:link,
  &:visited {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }

  &--white {
    background-color: var(--color-primary-light);
    padding: 3.5rem 7rem;
    font-size: 3rem;
    font-weight: 700;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.3);

    &:hover {
      transform: translateY(-3px);
    }
  }

  // btn small login/singup
  &--small {
    &,
    &:link,
    &:visited {
      padding: 1.2rem 4rem;
      font-size: 3rem;
      font-weight: 700;
    }

    &-login:hover {
      transform: translateY(2px);
    }

    &-signup {
      border: 1px solid var(--color-grey-dark-3);
      color: var(--color-grey-dark);
      border: 1px solid var(--color-grey-dark);

      &:hover {
        background-color: var(--color-grey-dark-3);
        color: currentColor;
      }
    }
  }
}
