.form {
  &__group:not(:last-child) {
    margin-bottom: 4rem;
  }

  &__input {
    font-size: 3rem;
    font-family: inherit;
    color: inherit;
    padding: 2.5rem 3rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(238, 238, 238, 0.2);
      border-bottom: 3px solid var(--color-primary-dark);
    }
  }
}
